@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('fonts/raleway/raleway-v28-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/raleway/raleway-v28-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    margin: 0;
    font-family: 'raleway';
}

header {
    background-color: rgb(255, 128, 0);
    margin-top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
    height: 100px;
}

.mainContent {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 40%);
    padding: 8px;
    border-radius: 10px;
    max-width: 70%;
    margin-bottom: 16px;
    margin-top: 16px;
    height: auto;
}

.mainContent:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.content {
    display: flex;
}

.container {
    display: block;
    border: 2px solid white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.circle {
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    margin: 4px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.circle.plus:before,
.circle.plus:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
}

.circle.plus:before {
    width: 2px;
    margin: 2px auto;
}

.circle.plus:after {
    margin: auto 2px;
    height: 2px;
}

.circle.minus:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:black;
    margin: auto 2px;
    height: 2px;
}

.plusPosition {
    display: flex;
    justify-content: space-between;
}

.shoppingCart {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 40%);
    width: 30%;
    height: 100vh;
    text-align: center;
    background-color: white;
}

.foodImg {
    width: 70%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 40%);
}

.foodDescription {
    width: 70%;
}

footer {
    height: 200px;
    background-color: rgb(38,38,38);
}

.listItem {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.emptyBasket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.addRemove {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    margin-bottom: 16px;
}

.addRemove span {
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

.addRemove span:hover {
    text-decoration: none;
}

.listItemShadow {
    box-shadow: 0 2px 0px 0 rgb(0 0 0 / 5%);
}

.sumTotalBox {
    display: flex;
    justify-content: space-between;
}

.totalSumLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px;
}

.subTotalRight {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
}
